
body { 
    background-color: yellow;
}

h1 {
    color: red;
}

p {
    font-size: 2rem;
    color: blue;
    text-transform: uppercase;
    border-radius: solid 5px red;
}

button {
    border: 2px solid rgb(71, 202, 169);
    background-color: white;
    color: rgb(71, 202, 169);
    transition: 0.3s;
    border-radius: 3px;
    font-size: 2rem;
}

button:hover {
    background-color: rgb(71, 202, 169);
    color: white;
}